body {
    background: linear-gradient(180deg, #000000, #FFFFFF);
    color: #E0E0E0;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.intro-hello {
    height: 40vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    margin-bottom: clamp(50px, 5vh, 90px);
    transition: all 0.5s ease;
}

.intro-hello:hover {
    transition: all 0.5s ease;
    transform: scale(1.05);
}

.title {
    color: #E0E0E0;
    font-size:  clamp(80px, 6vw, 180px);
    margin-bottom: 0;
    margin-top: 0;
}

.mini-title {
    color: #E0E0E0;
    font-size:  clamp(30px, 2.5vw, 130px);
    margin-top: 0px;
    margin-bottom: 0px;
}

.info-div {
    background-color: #121212;;
    margin-bottom: 5vh;
    padding: 3vw;
    transition: all 0.5s ease;
    padding-top: 5px;
    border-radius: 10px;
    width: 80vw;
    align-self: center;
    text-align: center;
}

.part-title {
    font-size: clamp(20px, 2vw, 40px);
    margin-bottom: 3vh;
    color: #FFD700;
    text-align: center;
    margin-top: 5px;
}


.info {
    font-size: clamp(15px, 1vw, 20px);
    color: #B0B0B0;
    line-height: 3vh;
}


.info-div:hover {
    transition: all 0.5s ease;
    transform: scale(1.007);
}

a {
    color: #B0B0B0;
    transition: all 0.5s ease;
}

a:hover {
    color: #FFD700;
    transition: all 0.5s ease;
}

footer {
    background-color: #000000;
    margin-bottom: 0px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    gap: 10vw;
    width: 100%;
}

@media (max-width: 768px) {
    footer {
        flex-direction: column;
        gap: 0px;
    }
    .footer-text {
        margin-bottom: 0.7vh;
    }
    
}