body {
    background: linear-gradient(180deg, #000000, #FFFFFF);
    color: #E0E0E0;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.5;

}

.title {
    color: #E0E0E0;
    font-size: 150px;
    margin-bottom: 0;
    margin-top: 0;
}

.part-title {
    font-size: 30px;
    margin-bottom: 10px;
    color: #FFD700;
    text-align: center;
}

.mini-title {
    color: #E0E0E0;
    font-size: 50px;
    margin-top: 0;
}

.intro-hello {
    height: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin-bottom: 50px;
}

.info {
    font-size: 18px;
    color: #B0B0B0;
    line-height: 1;
}

.info-div {
    background-color: #121212;;
    margin-bottom: 60px;
    margin-left: 250px;
    margin-right: 250px;
    padding: 50px;
    transition: all 0.5s ease;

}

.info-div:hover {
    transition: all 0.5s ease;
    transform: scale(1.05);
}

a {
    color: #B0B0B0;
    transition: all 0.5s ease;
}

a:hover {
    color: #FFD700;
    transition: all 0.5s ease;
}

footer {
    background-color: #000000;
    margin-bottom: 0px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    gap: 100px;
}
